{% extends 'plantilla.html.twig' %}
{% block titulo %}<h1>{{titulo}}</h1>{% endblock %}
{% block contenido %}
<div class="canciones">
{% for cancion in canciones %}
            <figure onclick="modificarSrc('{{cancion.archivo}}')">
                <img class="caratula" src="{{ asset('img/' ~ cancion.autor ~ '.jpg') }}" alt="">

                </img>
                <figcaption>{{cancion.titulo}}</figcaption>
            </figure>
{% endfor %}
</div>
{% endblock %}