{% extends 'plantilla.html.twig' %}
{% block titulo %}<h1 id='h1Form'>{{titulo}}</h1>{% endblock %}
{% block contenido %}
    <div id='formulario'>
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button class="btn">Registrar</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}