{% extends 'plantilla.html.twig' %}
{% block titulo %}<h1>{{nombre}}</h1>{% endblock %}
{% block contenido %}
<div id="contentForm">
    <div id="createPlaylist">
    <label for="nombre" class="labelPlaylist">Nombre</label>
    <input type="text" name="nombre" id="nombre">
    <label for="visibilidad" class="labelPlaylist">Visibilidad </label>
    <input type="checkbox" name="" id="visibilidad">
    </div>
</div>
<hr>
<h5>Canciones: </h5>
<div class="selectCanciones">

{% for cancion in canciones %}
    <label class="labelCancion">{{cancion.titulo }}<input class="songs" type="checkbox" name="" id="{{cancion.id}}"></label>
{% endfor %}
    <button id="btnPlaylist" onclick="crearPlaylist()">Crear</button>
</div>
{% endblock %}