{% extends 'plantilla.html.twig' %}
{% block titulo %}<h1>{{titulo}}</h1>{% endblock %}
{% block contenido %}
<div class="canciones">
{% for playlist in playlists %}
        <a href="/playlist/cancions/{{playlist.id}}">
            <figure class="iframeCancion">
                <img class="caratula" src="{{ asset('img/playlist.jpg') }}" alt="">

                </img>
                <figcaption>{{playlist.nombre}}</figcaption>
            </figure>
        </a>
{% endfor %}
</div>
{% endblock %}