{% extends 'plantilla.html.twig' %}
{% block titulo %}{{titulo}}{% endblock %}
{% block contenido %}
<div class="canciones">
{% for playlist in playlists %}
            <figure onclick="">
                <img class="caratula" src="{{ asset('img/playlist.jpg') }}" alt="">

                </img>
                <figcaption>{{playlist.nombre}}</figcaption>
            </figure>
{% endfor %}
</div>
{% endblock %}